NODE RED FILES/flows (1).json
[{"id":"a44da2a2.33e17","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"28a6ee0d.5b4b02","type":"http request","z":"a44da2a2.33e17","name":"","method":"GET","ret":"obj","paytoqs":"ignore","url":"https://cc8b12b3-083c-46af-936a-c20027914397-bluemix.cloudant.com/animal/_all_docs?include_docs=true&descending=true&limit=1","tls":"","persist":false,"proxy":"","authType":"basic","x":370,"y":240,"wires":[["27be92d5.a1a1ee","8d54bf71.65968"]]},{"id":"399ff724.a1dd08","type":"inject","z":"a44da2a2.33e17","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":140,"y":160,"wires":[["28a6ee0d.5b4b02"]]},{"id":"578c467.ba2bab8","type":"debug","z":"a44da2a2.33e17","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":970,"y":140,"wires":[]},{"id":"27be92d5.a1a1ee","type":"function","z":"a44da2a2.33e17","name":"","func":"msg.payload = msg.payload.rows[0].doc.link\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":540,"y":180,"wires":[["578c467.ba2bab8","8a465e16.d1061","e6200c40.1724e"]]},{"id":"9d110de7.58bff","type":"ui_button","z":"a44da2a2.33e17","name":"","group":"d5698bd8.27dfe8","order":6,"width":9,"height":1,"passthru":false,"label":"GET IMAGE","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"topic","topicType":"msg","x":150,"y":240,"wires":[["28a6ee0d.5b4b02"]]},{"id":"8a465e16.d1061","type":"ui_template","z":"a44da2a2.33e17","group":"d5698bd8.27dfe8","name":"","order":4,"width":17,"height":8,"format":"<img src=\"{{msg.payload}}\" width=\"300\" height=\"300\" >","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":false,"templateScope":"local","x":980,"y":240,"wires":[[]]},{"id":"e6200c40.1724e","type":"delay","z":"a44da2a2.33e17","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":680,"y":240,"wires":[["eaa015ba.553688"]]},{"id":"eaa015ba.553688","type":"function","z":"a44da2a2.33e17","name":"","func":"msg.payload = \"https://upload.wikimedia.org/wikipedia/commons/thumb/a/ac/No_image_available.svg/1024px-No_image_available.svg.png\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":820,"y":280,"wires":[["8a465e16.d1061"]]},{"id":"4cce01c0.9c4ea","type":"inject","z":"a44da2a2.33e17","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"5","crontab":"","once":true,"onceDelay":"5","topic":"","payload":"Alert wild animal detected beaware and safe","payloadType":"str","x":190,"y":440,"wires":[["ea5712dd.d5d66"]]},{"id":"ea5712dd.d5d66","type":"watson-text-to-speech","z":"a44da2a2.33e17","name":"","lang":"en-US","langhidden":"en-US","langcustom":"NoCustomisationSetting","langcustomhidden":"","voice":"en-US_EmilyV3Voice","voicehidden":"en-US_EmilyV3Voice","format":"audio/wav","password":"","apikey":"aYiZgBnvimsddGOZCRYENFFLgwP0DUz5IADJw1tQsPcy","payload-response":false,"service-endpoint":"https://api.eu-gb.text-to-speech.watson.cloud.ibm.com/instances/e3b06d72-21c9-456f-a746-925c2f30a36d","x":440,"y":440,"wires":[["e3c22c58.f7ee1"]]},{"id":"e3c22c58.f7ee1","type":"ui_audio","z":"a44da2a2.33e17","name":"","group":"d5698bd8.27dfe8","voice":"","always":"","x":680,"y":440,"wires":[]},{"id":"8d54bf71.65968","type":"ui_text","z":"a44da2a2.33e17","group":"d5698bd8.27dfe8","order":2,"width":15,"height":"1","name":"","label":"Alert!!! Wild Animal Detected ","format":"","layout":"col-center","x":600,"y":300,"wires":[]},{"id":"d5698bd8.27dfe8","type":"ui_group","name":"Last Animal Detected","tab":"44b2910d.2cda1","order":1,"disp":true,"width":17,"collapse":false},{"id":"44b2910d.2cda1","type":"ui_tab","name":"Smart Security System","icon":"dashboard","order":2,"disabled":false,"hidden":false}]